@import "public/scss/custom_vars";

.listWrap{
  padding: 1rem;

  .listMeeting{
    padding: 1rem;
    background: #F5F8FA;
  }

  .listMeetingItem{
    padding: 1.5rem 1rem;
    border-radius: 3px;
    margin-bottom: 1rem;
    cursor: pointer;

    &:hover {
      .meetingDescControl{
        display: flex !important;
      }
    }
  }
  .meetingName{
    flex: 8;
    strong{
      margin-right: 15px;
    }
    overflow: hidden;
  }
  .meetingDesc{
    flex: 1;

    .meetingDescText{
      flex: 7;
      padding-right: 5px;
      white-space: nowrap;
      overflow: hidden;
    }

    .meetingDescControl{
      flex: 2;
      padding-right: 10px;
      display: none;

      a{
        margin: 0 4px;
        display: flex;
        align-items: center;

      }
    }
  }
  .viewCount{
    flex: 1;
  }
  .inlineIcon{
    margin-right: 0.5rem;
  }
  .timeCount{
    flex: 1;
  }
  .mobileControl{
    margin-top: 15px;
    a{
      margin-right: 15px;
      color: $primary;
    }
  }

  .btnOpen{

  }

  .meetingLinkWrap{
    .meetingLink{
      color: $info;
    }

    .linkCopy{
      border: 1px solid $info;
      border-radius: 2px;
      padding: 8px;
      margin-left: 8px;
      justify-content: center;
      display: flex;
    }

    &:hover {
      .meetingLink{
        color: #0641a0 !important;
      }


      .linkCopy {
        border-color: #0641A0;
      }
    }
  }


  .btnStart{
    &:hover{
      color: $primary;
      border-color: $primary;
      background-color: transparent;
    }
  }

  .timelineWrap{
    //border: 1px solid #c6c8ca;

    .date{
      margin-top: -20px;
      margin-bottom: 0;
    }
    .timeline{
      list-style-type: none;
      padding-left: 6px;
      padding-top: 1.5rem;
      position: relative;

      &:after{
        content: '';
        position: absolute;
        width: 4px;
        background-color: #E3E2F0;
        top: 3.5rem;
        bottom: 0;
        left: 15px;
      }
    }

    .timelineItem{
      padding: 1.5rem 0 2.4rem 40px;
      position: relative;
      margin-bottom: 1rem;

      &:after{
        content: '';
        position: absolute;
        background-color: white;
        border: 3px solid #838A99;
        width: 22px;
        height: 22px;
        top: 1.5rem;
        left: 0;
        border-radius: 50%;
        z-index: 1;
      }
    }
  }
}
