@import "public/scss/custom_vars";

.sidebar {
  background: #F7F8FA;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  padding: 44px 0 40px;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);

  .logo {
    padding: 0 15px 20px 30px;

    .logoImg{
      width: 80%;
    }
  }

  .plan {
    padding: 20px 15px 40px 15px;
    .planStatus {
      .countdown {
        border: 1px solid #FF9E0B;
        background: #F8EFE2;
        border-radius: 3px;
        padding: 0 10px;
        height: 34px;
      }

      .timeText {
        padding: 15px;
      }
    }

    .planCta {
      margin: 10px 0;
      font-size: 1.2rem;
      color: $primary;
      font-weight: 500;
    }
  }

  .spaceNav {
    padding: 15px;
  }

  .navLink {
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;

    .navText {
      font-size: .875rem;
      font-weight: 500;
      left: 55px;
      top: 17px;
      position: absolute;
      white-space: nowrap;
    }

    .navIcon {
      svg * {
        fill: $body-color;
      }
    }

    &.active {
      border-left: 3px solid $primary;
      background: rgba(244, 245, 245, 0.7);

      svg * {
        fill: $primary;
      }

      .navText {
        color: $primary;
      }
    }

    &:hover {
      .navText {
        color: $primary;
      }

      svg * {
        fill: $primary;
      }
    }
  }
  .signoutLink{
    position: absolute;
    bottom: 40px;
  }
}

@media (max-width: 768px) {

}
